*, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    background-color: #f0f0f0;
}
  
  body{ 
    display: flex;
    justify-content: center;
  }

  img {
      margin: 1em;
  }


